body {
	background: #AAF;
}

header, main, footer {
	min-width: 700px;
}

header .container, main .container, footer .container {
	max-width: 700px;
	margin: auto;
}

header {
  border-radius: 50px 50px 0 0;
	padding: 20px 0 20px 0;
	background: #3DD;
	border-bottom: 1px solid #ddd;
	overflow: auto;
}

h1 {
	font-style: italic;
	font-size: 3em;
	color: #355;
	float: left;
	width: 300px;

}

header nav {
	float: right;
	width: 100px;
}

main {
	background: #ccf;
  border-radius: 0px 0px 50px 50px;
  padding: 10px 0 20px 0;
}

main .content {
  padding: 30px 10px 30px 10px;
  border-radius: 5px;
  background: #eee;
}

main .content li {
  border-radius: 5px;
  padding: 0 20px;
  background: #eff;
  margin: 10px 10px 10px 10px;
}

button {	
	background-color:#599bb3;
	border-radius:8px;
	color:#FFF;
	font-size:20px;
	font-weight:bold;
	padding:5px 5px;
	margin: 10px 10px 10px 10px;
}